<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="QuotationDb" connectionString="Data Source=SIFAYIDEEN-PC\CLOUD;Initial Catalog = InsMgt; User ID = sa; Connect Timeout = 300; Password=iPhone6S"/>
    <!--<add name="QuotationDb"
         connectionString="Data Source=(LocalDB)\v11.0;;AttachDbFilename=C:\QDB\InsMgt.mdf;Database=InsMgt;Integrated Security=True;MultipleActiveResultSets=True;User Instance=False;"/>-->
  </connectionStrings>
</configuration>